@using Data.Model.APIWeb
@using Data.Utils
@using PagedList.Mvc
@model PagedList.IPagedList<ListServiceCategoryModel>

<table class="table table-light table-bordered table-hover table-responsive-sm table-responsive-md">
    <thead class="text-center text-white bg-thead">
        <tr>
            <th>STT</th>
            <th>Mã</th>
            <th>Tên danh mục</th>
            <th>Thứ tự sắp xếp</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
        @{
            if (Model.Count == 0)
            {
                <tr>
                    <td colspan="7">
                        Không có dữ liệu!
                    </td>
                </tr>
            }
            else
            {
                int stt = ((Model.PageNumber - 1) * Model.PageSize) + 1;
                foreach (var item in Model)
                {
                    <tr>
                        @*@if (item.IsActive != 0)*@
                        @{
                            <td>@stt</td>
                            <td>@item.Code</td>
                            <td>@item.Name</td>
                            <td>@stt</td>
                            <td>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</td>
                            if (item.IsActive == 1)
                            {
                                <td>Hoạt động</td>
                            }
                            else if (item.IsActive == 2)
                            {
                                <td>Ngừng hoạt động</td>
                            }
                            <td class="width2btn">
                                <a title="Sửa" class="cursor-pointer" onclick="DetailServiceCategory(@item.ID);">
                                    <i class="btnEdit fa fa-fw fa-edit"></i>
                                </a>
                                <a title="Xóa" class="cursor-pointer" onclick="DeleteServiceCate(@item.ID)">
                                    <i class="btnDelete fa fa-fw fa-trash-o"></i>

                                </a>
                            </td>
                            stt++;
                        }
                    </tr>
                }
            }
        }


    </tbody>
</table>
<div class="col-md-12">
    <div class="row float-right">
        @*phân trang*@
        @Html.PagedListPager(
        Model,
        page => Url.Action("SearchServiceCategory", "ServiceCategory", new { page, Name = ViewBag.name, IsActive = ViewBag.isActive, FromDate = ViewBag.fromDate, ToDate = ViewBag.toDate }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "ListCategory" })
        )
    </div>
</div>