@using APIProject.Resource
<div class="col-md-12">
    <div class="breadcrumb-holder">
        <div class="row mb-3 mt-3">
            <div class="col-md-10 col-sm-9 col-8 text-dark px-0">
                <h4 class="custom_title"> Add combo</h4>
            </div>
            <div class="col-md-2 col-sm-2 col-3 text-right px-0">
                <a class="btn btn-dekko" href="javascript:void(0);" onclick="window.location='/Combo/Index'"><i class="fa fa-fw fa-arrow-left"></i> Come back</a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-6 col-xs-12">
        @*<div class="row mt-2">
            <div class="col-md-4 col-xs-6">
                <span>Combo Code:</span>
            </div>
            <div class="col-md-8 col-xs-6">
                <input type="text" class="form-control" id="code" />
            </div>
        </div>*@
        <div class="row mt-2">
            <div class="col-md-4 col-xs-6">
                <span>Combo Name English:</span>
            </div>
            <div class="col-md-8 col-xs-6">
                <input type="text" class="form-control" id="name" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4 col-xs-6">
                <span>Combo Name VietNam:</span>
            </div>
            <div class="col-md-8 col-xs-6">
                <input type="text" class="form-control" id="nameVn" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4 col-xs-6">
                <span>Description VietNam:</span>
            </div>
            <div class="col-md-8 col-xs-6">
                <textarea class="form-control height-150" id="description"></textarea>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4 col-xs-6">
                <span>Description English:</span>
            </div>
            <div class="col-md-8 col-xs-6">
                <textarea class="form-control height-150" id="descriptionEN"></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12 divImage">
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="inlineblock mr-3">
                    <div class="mb-2">
                        <span>Main Image</span>
                    </div>
                    <div class="article position-relative" id="AddMain">
                        <img id="AddImgMain" src="/Uploads/files/add_img.png" class="contentImg-Pack" alt="your image" />
                    </div>
                </div>
                <div class="inlineblock mr-3">
                    <div class="mb-2">
                        <span>Thumbnail</span>
                    </div>
                    <div class="article position-relative" id="AddThumbnail">
                        <img id="AddImgThumbnail" src="/Uploads/files/add_img.png" class="contentImg-Pack" alt="your image" />
                    </div>
                </div>
                <div class="inlineblock mr-3">
                    <div class="mb-2">
                        <span>Icon</span>
                    </div>
                    <div class="article position-relative" id="AddIcon">
                        <img id="AddImgIcon" src="/Uploads/files/add_img.png" class="border-dekko contentImg-Pack max-wh-150" alt="your image"  /><i title="Xóa" onclick="DeleteSingleImage(3);" class="fa fa-2x fa-remove icon-removeIcon" data-id="1"  style="position:absolute;display:none ;top:-8px;right:1px;color: #ff0000;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 col-xs-12">
                <div class="mb-2">
                    <span>Orther images</span>
                </div>
                <a href="" class="text-bold mb-3 inlineblock mr-1" id="_addImg">
                    <img id="Imgtag" src="/Uploads/files/add_img.png" width="80" height="80" alt="Chọn" />
                </a>
                <div class="imgShop inlineblock">
                    <div class="article inlineblock" id="_divAddImg">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-6 col-xs-12">
        <div class="row mt-2">
            <div class="col-md-12 col-xs-12">
                <span class="custom_title font-16">Price</span>
            </div>
        </div>
        @*<div class="row mt-2">
            <div class="col-md-4">
                <select class="form-control" id="txtGrade">
                    <option class="text-black-50" value="0">Segment</option>                  
                </select>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control number" id="price" placeholder="Enter price" value="" />
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary plr-25" onclick="addPrice()">Add</button>
            </div>
        </div>*@
        <div class="row mt-2">
            <div class="col-md-12 col-xs-12">
                <table class="table table-light table-bordered table-hover table-responsive-sm table-responsive-md">
                    <thead class="text-center text-white">
                        <tr>
                            <th>Type car</th>
                            <th>
                                Price
                            </th>
                            <th>
                                USDPrice
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center tbody-addprice">
                       
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="row mt-2">
            <div class="col-md-12 col-xs-12">
                <span class="custom_title font-16">Package service</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-5">
                <select class="form-control" id="package">
                    <option class="text-black-50" value="0">Package Service</option>
                </select>
            </div>
            <div class="col-md-4">
                <input type="text" id="amount" class="form-control number" placeholder="Amount" value="" />
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" onclick="addPackageService()">Add</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 col-xs-12">
                <table class="table table-light table-bordered table-hover table-responsive-sm table-responsive-md">
                    <thead class="text-center text-white">
                        <tr>
                            <th>Package Service</th>
                            <th>
                                Amount
                            </th>
                            <th>Order</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="text-center tbody-addpackageservice">
                       
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-6 col-xs-12">
        <div class="row mt-2">
            <div class="col-md-3">
                <span class="custom_title font-16">
                    Promote
                </span>
            </div>
            <div class="col-md-3">
                <input type="number" id="promote" class="form-control" />
            </div>
            <div class="col-md-3 pl-0 pt-1">
                <span class="font-20">%</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-3">
                <span>Status:</span>
            </div>
            <div class="col-md-3">
                <select class="form-control" id="typePromote">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="row mt-2">
            <div class="col-md-12 col-xs-12">
                <span class="custom_title font-16">Additional service</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <select class="form-control" id="addService">
                    <option class="text-black-50" value="0">Select Addition Service</option>
                    @*<option>heeeee</option>*@
                </select>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" onclick="addAdditionalSer()">Add</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 col-xs-12">
                <table class="table table-light table-bordered table-hover table-responsive-sm table-responsive-md">
                    <thead class="text-center text-white">
                        <tr>
                            <th>Additional Service</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="text-center tbody-addaddservice">
                        @*@for (int i = 0; i < 2; i++)
                        {
                            <tr>
                                <td>A/C Clean</td>
                                <td>
                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="@Resources.Delete." class="cursor-pointer">
                                        <i class="btnDelete fa fa-fw fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        }*@
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-danger plr-25 mr-3" onclick="backCombo()">Cancel</button>
    <button class="btn btn-success plr-25 mr-3" onclick="CreateCombo()">Add</button>
</div>
<!--CKFinder-->
<script type="text/javascript">
    // ADD MAIN IMAGE
    $("#AddImgMain").off('click').on('click', function (e) {
        e.preventDefault();
        var fider = new CKFinder();

        fider.selectActionFunction = function (fileUrl) {
            //$("#AddImgMain ").remove();
            $("#AddMain").empty();
            $("#AddMain").append('<img id="AddImgMain" src="' + fileUrl + '" class="border-dekko contentImg-Pack max-wh-150" alt="your image" onclick="ChangeImageMain($(this))"/><i title="Xóa" onclick="DeleteSingleImage(1);" class="fa fa-2x fa-remove remove-mainImg display-none" data="img1" style="position:absolute;top:-8px;right:1px;color: #ff0000;"></i>');
            //var url = window.location.origin + fileUrl;
            //$('#txtAddLogoPlace').val(url);
            $("#AddMain").mouseover(function () {
                $(this).find(".remove-mainImg").show();
            });
            $("#AddMain").mouseout(function () {
                $(this).find(".remove-mainImg").hide();
            });
        }
        fider.popup();
    });
    //ADD THUMBNAIL IMAGE
    $("#AddImgThumbnail").off('click').on('click', function (e) {
        e.preventDefault();
        var fider = new CKFinder();

        fider.selectActionFunction = function (fileUrl) {
            //$("#AddImgThumbnail ").remove();
            $("#AddThumbnail").empty();
            $("#AddThumbnail").append('<img id="AddImgThumbnail" src="' + fileUrl + '" class="border-dekko contentImg-Pack max-wh-150" alt="your image" onclick="ChangeImageThumb($(this));"/><i title="Xóa" onclick="DeleteSingleImage(2);" class="fa fa-2x fa-remove remove-imgThumb display-none" data="img1" style="position:absolute;top:-8px;right:1px;color: #ff0000;"></i>');
            //var url = window.location.origin + fileUrl;
            //$('#txtAddLogoPlace').val(url);
            $("#AddThumbnail").mouseover(function () {
                $(this).find(".remove-imgThumb").show();
            });
            $("#AddThumbnail").mouseout(function () {
                $(this).find(".remove-imgThumb").hide();
            });
        }
        fider.popup();
    });
    //ADD ICON IMAGE
    //$("#AddImgIcon").off('click').on('click', function (e) {
    //    e.preventDefault();
    //    var fider = new CKFinder();

    //    fider.selectActionFunction = function (fileUrl) {
    //        $("#AddImgIcon").remove();
    //        $("#AddIcon").append('<img id="AddImgIcon" src="' + fileUrl + '" class="border-dekko contentImg-Pack max-wh-150" alt="your image" onclick="ChangeImageIcon($(this));"/><i title="Xóa" onclick="DeleteSingleImage(3);" class="fa fa-2x fa-remove remove-imgIcon display-none" data="img1" style="position:absolute;top:-8px;right:1px;color: #ff0000;"></i>');
    //        //$("#AddIcon").append('<img id="AddImgIcon" src="' + fileUrl + '" class="border-dekko contentImg" alt="your image" onclick="ChangeImageIcon($(this));"/><i title="Xóa" onclick="DeleteSingleImage(3);" class="fa fa-2x fa-remove remove-imgIcon" data="img1" style="position:absolute;top:-14px;color: #ff0000;"></i>');
    //        $("#AddIcon").mouseover(function () {
    //            $(this).find(".remove-imgIcon").show();
    //        });
    //        $("#AddIcon").mouseout(function () {
    //            $(this).find(".remove-imgIcon").hide();
    //        });
    //    }
    //    fider.popup();
    //});
    //CHANGE MAIN IMAGE
    function ChangeImageMain($url) {
        var fider = new CKFinder();
        fider.selectActionFunction = function (fileUrl) {
            var url_old = $url.attr('src');
            $url.attr('src', fileUrl);
            if (fileUrl != url_old) {
                $url.attr('src', fileUrl)
            }
        }
        fider.popup();
        //$("#AddMain").append('<i title="Xóa" onclick="DeleteSingleImage(1);" class="fa fa-2x fa-remove remove-mainImg" data="img1" style="position:absolute;top:-14px;color: #ff0000;"></i>')

    }
    function ChangeImageThumb($url) {
        var fider = new CKFinder();
        fider.selectActionFunction = function (fileUrl) {
            var url_old = $url.attr('src');
            $url.attr('src', fileUrl);
            if (fileUrl != url_old) {
                $url.attr('src', fileUrl);
            }
        }
        fider.popup();
        //$("#AddThumbnail").append('<i title="Xóa" onclick="DeleteSingleImage(2);" class="fa fa-2x fa-remove remove-imgThumb" data="img1" style="position:absolute;top:-14px;color: #ff0000;"></i>')
    }
    //function ChangeImageIcon($url) {
    //    var fider = new CKFinder();
    //    fider.selectActionFunction = function (fileUrl) {
    //        var url_old = $url.attr('src');
    //        $url.attr('src', fileUrl);
    //        if (fileUrl != url_old) {
    //            var str = $('#_txturlImage').val();
    //            $('#_txturlImage').val(str.replace(url_old, fileUrl));
    //        }
    //    }
    //    fider.popup();
    //    $("#AddIcon").append('<i title="Xóa" onclick="DeleteSingleImage(3);" class="fa fa-2x fa-remove remove-imgIcon" data="img1" style="position:absolute;top:-14px;color: #ff0000;"></i>')
    //}
    function DeleteSingleImage(type) {
        if (type == 1) {
            $("#AddMain").empty();
            $("#AddMain").append('<img id="AddImgMain" src="/Uploads/files/add_img.png" class="contentImg-Pack" alt="your image" onclick="ChangeImageMain($(this));"/>');
        }
        else if (type == 2) {
            $("#AddThumbnail").empty();
            $("#AddThumbnail").append('<img id="AddImgThumbnail" src="/Uploads/files/add_img.png" class="contentImg-Pack" alt="your image" onclick="ChangeImageThumb($(this));"/>');
        }
        else if (type == 3) {
            $("#AddImgIcon").attr("src","/Uploads/files/add_img.png")
        }

    }
    //Add multiple
    $("#_addImg").off('click').on('click', function (e) {
        e.preventDefault();

        var fider = new CKFinder();
        fider.selectActionFunction = function (fileUrl) {
            $("#_divAddImg").append('<div class="Imgs mr-2" style ="box-sizing:border-box;display:inline-block;margin-top:10px;position: relative;"><img class="_lstImage max-wh-130" src="' + fileUrl + '" /><i  title ="Xóa" onclick="DeleteImage(event);" src="' + fileUrl + '" class="fa fa-2x fa-remove icon-remove display-none" style="position:absolute;top:-14px;right:1px;color: #ff0000;"></i></div>');
            var listUrl = $("#_txturlImage").val();
            if (listUrl == "") {
                listUrl = fileUrl;
                $("#_txturlImage").val(listUrl);
            }
            else {
                var url = listUrl + "," + fileUrl;
                $("#_txturlImage").val(url);
            }
            $(".Imgs").mouseover(function () {
                $(this).find(".icon-remove").show();
            });
            $(".Imgs").mouseout(function () {
                $(this).find(".icon-remove").hide();
            });
        }
        fider.popup();
    });
    function DeleteImage(event) {
        $(event.target).closest("div").remove();
    }
    $("#AddImgIcon").off('click').on('click', function (e) {
        e.preventDefault();

        var fider = new CKFinder();
        fider.selectActionFunction = function (fileUrl) {
            $("#AddImgIcon").attr('src', fileUrl);
        }
        fider.popup();
    });
    $("#AddIcon").mouseover(function () {
        if ($('#AddImgIcon').attr('src') != "/Uploads/files/add_img.png") 
        $(this).find(".icon-removeIcon").show();
    });
    $("#AddIcon").mouseout(function () {
        $(this).find(".icon-removeIcon").hide();
    });
</script>
<script>
    $(document).ready(function () {
        $('.number').keyup(function () {
            $val = cms_decode_currency_format($(this).val());
            $(this).val(cms_encode_currency_format($val));
        });
        loadSegment();
        loadPackageService();
        loadAdditionalService()
    })
    function loadSegment() {
        //var SegmentName = $("#txtGrade").val();
        $.ajax({
            url: '/Combo/GetSegmentList',
            type: 'GET',
            success: function (res) {
                $.each(res, function () {
                    //$("#txtGrade").append('<option value="' + this.ID + '">' + this.NameEN + '</option>')
                    $(".tbody-addprice").append('<tr><td class="segName" data-id="' + this.ID + '">' + this.NameEN +'</td><td><input type="text" class="number priceValue text-center" /></td></td><td><input type="number" class=" USDprice text-center" /></td></tr>')
                });
                $('.number').keyup(function () {
                    $val = cms_decode_currency_format($(this).val());
                    $(this).val(cms_encode_currency_format($val));
                });
            }
        })
    }
    @*function addPrice() {
        var SegmentName = $("#txtGrade option:selected").text();
        var segId = $("#txtGrade").val();
        var Price = $("#price").val();
        var checkDuplicate = false;
        if ($("#txtGrade").val() == 0 || Price == "") {
            swal({
                title: "",
                text: "Please fill in required fields",
                icon: "warning"
            });
        }
        else {
            if ($(".tbody-addprice > tr").length == 0) {
                $(".tbody-addprice").append('<tr><td class="segName" data-id="' + segId + '">' + SegmentName + '</td><<td class="priceValue" data-id="' + cms_decode_currency_format(Price) + '">' + cms_encode_currency_format(Price) + ' VNĐ</td><td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="@Resources.Delete." class="cursor-pointer"><i class="btnDelete fa fa-fw fa-trash-o" onclick="DeleteAddional(event)"></i></a></td></tr>')
            }
            else
            {
                $.each($(".segName"), function () {
                    if ($(this).text() == SegmentName) {
                    checkDuplicate = true;
                    }
                });
                if (checkDuplicate == false) {
                    $(".tbody-addprice").append('<tr><td class="segName" data-id="' + segId + '">' + SegmentName + '</td><<td class="priceValue" data-id="' + cms_decode_currency_format(Price) + '">' + cms_encode_currency_format(Price) + ' VNĐ</td><td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="@Resources.Delete." class="cursor-pointer"><i class="btnDelete fa fa-fw fa-trash-o" onclick="DeleteAddional(event)"></i></a></td></tr>')
            }
            else {
                    swal({
                        title: "",
                        text: "This grade was selected",
                        icon: "warning"
                    })
                }
            }
        }

    }*@
    var listid = [];
    function DeleteAddional(event) {
        var id = $(event.target).parent().attr("data-id");
      
        if (listid.find(u => u == id) != undefined) {
            listid.splice(listid.indexOf(id), 1);
        }

        $(event.target).closest("tr").remove();
    }
    function loadPackageService() {
        $.ajax({
            url: '/Combo/GetMainServiceList',
            type: 'GET',
            success: function (res) {
                //console.log(res);
                $.each(res.Result, function () {
                    $("#package").append('<option value="' + this.ID + '">' + this.Name + '</option>')
                });
            }
        })
    }
    function addPackageService() {
        var PackageService = $("#package option:selected").text();
        var packId = $("#package").val();
        var Amount = $("#amount").val();
        var checkDuplicate = false;
        if ($("#package").val() == 0 || Amount == "") {
            swal({
                title: "",
                text: "Please fill in required fields",
                icon: "warning"
            });
        }
        else {
            if ($(".tbody-addpackageservice > tr").length == 0) {
                $(".tbody-addpackageservice").append('<tr><td class="psName" data-id="' + packId + '">' + PackageService + '</td><<td > <input type="number" class="form-control amountValue text-center" value="' + Amount + '" /></td><td><input type="text" class="displayOrder text-center form-control" class="form-control" class="order"/></td>' + '<td><a href="javascript:void(0);"  title="@Resources.Delete." class="cursor-pointer"><i class="btnDelete fa fa-fw fa-trash-o" onclick="DeleteAddional(event)"></i></a></td></tr>')
            }
            else
            {
                $.each($(".psName"), function () {
                    if ($(this).text() == PackageService) {
                    checkDuplicate = true;
                    }
                });
                if (checkDuplicate == false) {
                    $(".tbody-addpackageservice").append('<tr><td class="psName" data-id="' + packId + '">' + PackageService + '</td><<td ><input type="number" class="form-control amountValue text-center" value="' + Amount+'" /></td><td><input type="text" class="displayOrder form-control text-center" class="form-control" class="order"/></td>' + '<td><a href="javascript:void(0);"  title="@Resources.Delete." class="cursor-pointer"><i class="btnDelete fa fa-fw fa-trash-o" onclick="DeleteAddional(event)"></i></a></td></tr>')
            }
            else {
                    swal({
                        title: "",
                        text: "This package was selected",
                        icon: "warning"
                    })
                }
            }
        }

    }
    function loadAdditionalService() {
        $.ajax({
            url: '/Combo/GetAdditionServiceList',
            type: 'GET',
            success: function (res) {
                $.each(res.Result, function () {
                    $("#addService").append('<option value="' + this.ID + '">' + this.Name + '</option>')
                });
            }
        })
    }

    function addAdditionalSer() {
        var additionSer = $("#addService option:selected").text();
        var additionId = $("#addService").val();
        var checkDuplicate = false;
        if ($("#addService").val() == 0) {
            swal({
                title: "",
                text: "Please select additional service!",
                icon: "warning"
            });
        }
        else {
            if (listid.find(u => u == additionId) == undefined) {
                listid.push(additionId);
                $(".tbody-addaddservice").append('<tr><td class="addSerName" data-id="' + additionId + '">' + additionSer + '</td>' + '<<td><a href="javascript:void(0);" data-toggle="tooltip" data-id='+ additionId+' data-placement="top" title="@Resources.Delete." class="cursor-pointer"><i class="btnDelete fa fa-fw fa-trash-o" onclick="DeleteAddional(event)"></i></a></td></tr>')
            }
            else {
                swal({
                    title: "",
                    text: " Addition service areally exist !",
                    icon: "warning"
                });
           
            }
        }
    }
</script>