@using Data.DB
@using Data.Model.APIWeb
@using Data.Utils
@model ConfigTransportAreaModel

<div class="modal fade" id="EditTransportArea" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: seagreen; color: white">
                <h4>Cập nhật vùng vận chuyển</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <form id="frmeditTransportArea" enctype="multipart/form-data">
                    <input type="hidden" class="form-control" value="@Model.ID" name="ID" />
                    <div class="row mt-1" style="margin-bottom: 10px">
                        <div class="col col-5" style="margin-top: 7px">
                            <strong>Tên</strong><span style="color:red"> *</span>
                        </div>
                        <div class="col col-7">
                            <input type="text" class="form-control" id="name_transport_areaEdit" value="@Model.Name" name="Name" />
                        </div>
                    </div>
                    <div class="row mt-1" style="margin-bottom: 10px">
                        <div class="col col-5" style="margin-top: 7px">
                            <strong>Từ (km)</strong><span style="color:red"> *</span>
                        </div>
                        <div class="col col-4">
                            <input type="number" class="form-control number-type" id="from_addressEdit" value="@Model.FromKm" name="FromKm" />
                        </div>
                        <span style="margin-top: 8px; font-size: 15px">km</span>
                    </div>
                    <div class="row mt-1" style="margin-bottom: 10px">
                        <div class="col col-5" style="margin-top: 7px">
                            <strong>Đến (km)</strong><span style="color:red"> *</span>
                        </div>
                        <div class="col col-4">
                            <input type="number" class="form-control number-type" id="to_addressEdit" value="@Model.ToKm" name="ToKm" />
                        </div>
                        <span style="margin-top: 8px; font-size: 15px">km</span>
                    </div>
                    <div class="row mt-1" id="" style="margin-bottom: 10px">
                        <div class="col col-5" style="margin-top: 7px">
                            <strong>Loại vận chuyển</strong><span style="color:red"> *</span>
                        </div>
                        <div class="col col-7">
                            <select id="type_transportEdit" class="form-control" name="Type">
                                @if (Model.Type == 1)
                                {
                                    <option selected value="1">Tiêu chuẩn</option>
                                    <option value="2">Nhanh</option>
                                }
                                else
                                {
                                    <option value="1">Tiêu chuẩn</option>
                                    <option selected value="2">Nhanh</option>
                                }

                            </select>
                        </div>
                    </div>
                    <div class="row mt-1" style="margin-bottom: 10px">
                        <div class="col col-5" style="margin-top: 7px">
                            <strong>Tăng theo mỗi (kg)</strong><span style="color:red"> *</span>
                        </div>
                        <div class="col col-4">
                            <input type="number" class="form-control number-type" name="PerKg" id="perkmEdit" value="@Model.PerKg"/>
                        </div>
                        <span style="margin-top: 8px; font-size: 15px">kg</span>
                    </div>
                    <div class="row mt-1" style="margin-bottom: 10px">
                        <div class="col col-5" style="margin-top: 7px">
                            <strong>Giá tăng (VND)</strong><span style="color:red"> *</span>
                        </div>
                        <div class="col col-4">
                            <input type="text" class="form-control number" id="editPerpricekm" value="@string.Format("{0:#,0}", Convert.ToDecimal(@Model.Price))" />
                        </div>
                        <span style="margin-top: 8px; font-size: 15px">VND</span>
                    </div>
                    <div class="row mt-1" style="margin-bottom: 10px">
                        <div class="col col-5" style="margin-top: 7px">
                            <strong>Thời gian vận chuyển</strong><span style="color:red"> *</span>
                        </div>
                        <div class="col col-7">
                            <input type="text" class="form-control" name="TimeShip" id="time_shipEdit" value="@Model.TimeShip" />
                        </div>
                    </div>
                    <div class="row mt-1" id="divSurcharge" style="margin-bottom: 10px">
                        <div class="col col-5" style="margin-top: 7px">
                            <strong>Nội tỉnh</strong>
                        </div>
                        <div class="col col-4">
                            <input class="form-control col-1" type="checkbox" id="edit-val-isprovince" @(Model.IsProvince.Equals(SystemParam.ACTIVE) ? Html.Raw("checked") : Html.Raw("")) style="height:40px" />
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button class="btn btn-success" onclick="updateTransportArea()"><i class="fa fa-save mr-1"></i>Lưu</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('.number-type').keydown(function (e) {
        if (e.keyCode == 69 || e.keyCode == 189 || e.keyCode == 188 || e.keyCode == 231)
            return false;
    });

    //Fomat number
    $('.number').keyup(function () {
        $val = cms_decode_currency_format($(this).val());
        $(this).val(cms_encode_currency_format($val));
    });
</script>


